/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
    font-weight: 600;
}

body {
    background-color: #121212;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button,.btn-tester,
.btn-login button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #121212;
    background-color: #1a0d72;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Unbounded", serif;
    transition: .4s;
}

h2.titulo{
    color: white;
    font-size: 32px;
    text-align: center;
}

h2.titulo span{
    color: #1a0d72;
}

.btn-contato button:hover,.btn-tester button:hover,
.btn-login button:hover {
    box-shadow: 0px 0px 20px #281d7270;
    transition: 0.3s;
    transform: scale(1.05);
}

.btn-social button:hover {
    box-shadow: 0px 0px 20px #2049ff4f;
    transition: 0.3s;
    transform: scale(1.05);
}

/* ESTILO CABECALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(78, 78, 78);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    background: none; /* Remove o fundo */
}

header a:hover {
    color: lightgray;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.450);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .logo img {
    width: 100px; /* Ajuste o tamanho */
    height: auto;
}

/* ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 52px;
    font-family: "Unbounded", serif;
}

.topo-do-site h1 span {
    color: #2049ff; /* Apenas muda a cor */
    font-size: 52px;
    font-family: "Unbounded", serif;
}

.txt-topo-site p {
    font-size: 24px;
    color: lightgray;
    margin: 30px 0;
    font-family: "DM Sans", serif;
}

.topo-do-site .img-topo-site img{
    width: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DOS PROJETOS*/

section.projetos{
    margin-top: 50px;
    padding: 40px 4%;
} 

section.projetos .flex{
    gap: 60px;
}

section.projetos .projetos-box{
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 32px;
    border: 2px solid #1a0d72;
    margin-top: 45px;
    transition: 0.7s;
}

section.projetos .projetos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #3019c454;
    transition: 1s;
}

section.projetos .projetos-box i{
    font-size: 50px;
    color: #2049ff;
}

section.projetos .projetos-box h3{
    font-size: 42;
    margin: 15px 0;
    color: #d5dcff;
    font-family: "Unbounded", serif;
}

section.projetos span{
    color: #2049ff;
    font-weight: 200;
    font-family: "Unbounded", serif;
}

section.projetos h2{
    color: #ffffff;
    font-weight: 350;
    font-family: "Unbounded", serif;
}

/* ESTILO DOS QUEM SOMOS*/

section.quem-somos {
    padding: 40px 4%;
    text-align: left;
    margin-top: 30px;
}

section.quem-somos  .flex{
    align-items: center;
    gap: 60px;
}

.quem-somos .txt-quem-somos{
    color: #ffffff;
    font-family: "Unbounded", serif;
}

.quem-somos  .txt-quem-somos h2{
    color: #ffffff;
    font-weight: 350;
    font-size: 40px;
    font-family: "Unbounded", serif;
}

.quem-somos  .txt-quem-somos span{
    color: #2049ff;
    font-size: 42;
    font-weight: 200;
    font-family: "Unbounded", serif;
    display: block;
}

.quem-somos  .txt-quem-somos p{
    text-align: justify;
    font-family: "Unbounded", serif;
    margin: 25px 0;
}

.quem-somos .txt-quem-somos p2{
    font-weight: 10;
    font-size: 15px;
    text-align: justify;
    font-family: "Unbounded", serif;
    margin: 25px 0;
    color: #96a9ff;
}

.quem-somos .img-quem-somos img {
    height: 300px;
}

.btn-social button{
    width: 35px;
    height: 35px;
    background-color: #2049ff;
    border: none;
    border-radius: 30%;
    font-size: 20px;
    color: #121212;
    cursor: pointer;
    margin: 15px 5px;
}

.quem-somos  .img-quem-somos img{
    width: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.highlight {
    color: #2049ff;
    font-weight: 250;
    font-family: "Unbounded", serif;
}

/* ESTILO DO SOBRE*/

section.sobre {
    padding: 40px 4%;
    margin-top: 50px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #ffffff;
    font-size: 7px;
    text-align: justify;
}

.sobre .txt-sobre h2 {
    font-size: 32px;
    font-family: "Unbounded", serif;
    text-align: center;
}

.sobre .txt-sobre span {
    font-size: 42px;
    font-weight: 200;
    color: #2049ff;
    font-family: "Unbounded", serif;
    margin-bottom: 25px;
    display: block;
}

.sobre .txt-sobre p {
    text-align: justify;
    margin: 5px 0;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.highlight {
    color: #2049ff;
    font-weight: 250;
    font-family: "Unbounded", serif;
}

/* ESTILO DO FORMULARIO*/

section.formulario{
    padding: 60px 4%;
}

section.formulario .interface h2 {
    margin-top: -20px;
    font-size: 30px;
    font-family: "Unbounded", serif;
    text-align: center;
    color: #d5dcff;
}

section.formulario .interface span {
    font-size: 40px;
    font-weight: 200;
    color: #2049ff;
    font-family: "Unbounded", serif;
    display: block;
    margin-bottom: 30px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #3a3a3a;
    border: 0;
    outline: 0;
    padding: 30px 15px;
    border-radius: 20px;
    color: #ffffff;
}

form textarea{
    resize: none;
    font-family: "Unbounded", serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #1b1b1b;
}

form input::placeholder{
    font-family: "Unbounded", serif;
    font-size: 12px;
    font-weight: 400;
    color: whitesmoke;
}

form .btn-enviar{
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: center;
}

form .btn-enviar input{
    width: 300px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #121212;
    background-color: #1a0d72;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Unbounded", serif;
    transition: .4s;
    text-align: center;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 15px #2049ff2a;
    transition: 0.3s;
    transform: scale(1.05);
}

form input:not([type="submit"]):hover, 
form textarea:hover {
    border: 1px solid #2049ff; /* Adiciona uma borda azul ao passar o mouse */
    transition: border-color 0.3s ease; /* Suaviza a transição */
}

/* ESTILO DO FOOTER */

footer {
    margin-top: -40px;
    padding: 20px 4%;
    box-shadow: 0px 0px 25px #2049ff3d;
}

footer .flex {
    justify-content: space-between; /* Distribui os elementos com espaço entre eles */
    align-items: center; /* Centraliza verticalmente os itens */
    display: flex; /* Torna o flexbox ativo */
}

.borda {
    border-top: 1px solid #2049ff;
}

footer .line-footer {
    padding: 20px 0;
}

footer .line-footer p {
    color: white;
    font-size: 12px;
}

footer .logo-footer img {
    width: 46px; /* Ajusta o tamanho da imagem */
    height: auto;
    display: block; /* Garante que a imagem respeite o alinhamento */
}


/* ESTILO PARA OS TEXTOS DA PÁGINA BRUTEFORCE TESTER */

.quem-somos, .sobre {
    padding: 40px 4%;
    margin-top: 50px;
}

.quem-somos h2, .sobre h2 {
    color: #ffffff;
    font-weight: 350;
    font-size: 40px;
    font-family: "Unbounded", serif;
}

.quem-somos span, .sobre span {
    color: #2049ff;
    font-size: 42px;
    font-weight: 200;
    font-family: "Unbounded", serif;
    display: block;
}

.quem-somos p, .sobre p {
    text-align: justify;
    margin: 25px 0;
    font-family: "Unbounded", serif;
    font-size: 16px;
    color: #f4f4f4;
}

.quem-somos .txt-quem-somos p2, .sobre .txt-sobre p2 {
    font-weight: 10;
    font-size: 15px;
    color: #96a9ff;
    text-align: justify;
    margin: 25px 0;
    font-family: "Unbounded", serif;
}



/* RESPONSIVO */

@media screen and (max-width: 1020px){
    header .logo img{
        width: 50px; /* Ajuste o tamanho */
        height: auto;
    }

    .topo-do-site .flex{
        flex-direction: row;
    }

    .menu-desktop, .btn-contato,.img-topo-site, .img-quem-somos{
        display: none;
    }
    
    .flex{
        flex-direction: column;
    }

    .topo-do-site h1 span{
        font-size: 32px;
    }

    .topo-do-site h1{
        font-size: 32px;
    }

    .topo-do-site p{
        font-size: 20px;
    }

    section.topo-do-site{
        padding: 1px 4%;
    }
    
    section.projetos .flex{
        padding: 5px 10%;
        flex-direction: column;
    }

    section.projetos .flex{
        gap: 0;
    }

    section.projetos .projetos-box{
        font-size: 14px;
        height: 100%;
        max-height: 400px;
        width: 100%;
        max-width: 400px;
    }
    
    section.projetos .projetos-box h3{
        font-size: 20px;
        font-size: 9px;
        max-width: 100%; /* Mantém elementos na mesma linha com tamanho reduzido */
        white-space: nowrap;
    }

    section.projetos .projetos-box i{
        font-size: 25px;
    }

    section.projetos span{
        color: #2049ff;
        font-weight: 200;
        font-family: "Unbounded", serif;
        font-size: 25px;
    }
    
    section.projetos h2{
        color: #ffffff;
        font-weight: 350;
        font-size: 25px;
        font-family: "Unbounded", serif;
    }

    .txt-quem-somos span{
        color: #2049ff;
        font-size: 35px;
        font-weight: 200;
        font-family: "Unbounded", serif;
        display: block;
    }

    .btn-login button{
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 700;
        color: #121212;
        background-color: #1a0d72;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        font-family: "Unbounded", serif;
        transition: .4s;
    }

    .btn-login button:hover{
        box-shadow: 0px 0px 20px #281d7270;
        transition: 0.3s;
        transform: scale(1.05);
    }

    
    .btn-tester{
        font-size: 10px;
    }
}

.linha-divisoria {
    border: none; /* Remove qualquer borda padrão */
    border-top: 2px solid #2049ff; /* Cria a linha divisória azul */
    margin: 20px 0; /* Adiciona margem em cima e embaixo */
}